.container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    width: 100%;
    padding: 1.5rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: var(--shadow);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
